/* Стили для header */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #f3f3f3;
    width: 100%;
    box-sizing: border-box;
}

/* Стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #808080;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 50px; 
}


.logo-container {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 50%;
    height: auto;
}

.company-info, .login-info {
    flex-grow: 1;
    text-align: center;
}

.company-info {
    text-align: center;
    font-weight: bold;
}

.login-info {
    text-align: left;

}

a {
    color: #0000EE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 90vw; 
    height: auto; 
    /*min-height: 200vh;*/
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 10px;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 768px) {
    main {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 5px;
    }
}



.main-container {
    display: flex;
    justify-content:center;
    padding: 20px;
    width: 80%;
}

.data-container{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width:150px;
}

.enter-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 60%;
}

.combox {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    width:92%;
}


.mounth {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    height: 400px;
    overflow-y: auto;
}

.mounth span {
    padding: 5px 0px;
    margin-right: 10px;
    color: gray;
    font-size: large;
}

.mounth a {
    margin-right: 10px;
    color: blue;
    text-decoration: none;
    padding: 3px 0px;
    font-size: large;
}

.mounth a:hover {
    text-decoration: underline;
    color: darkblue;
}

.enter-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.enter-field {
    display: flex;
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
}

textarea#field {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
    box-sizing: border-box;
}

#stat{
    height: 82%;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    margin-left: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Кнопка очистки */
#Clean {
    background-color: #dc3545;
}

#Clean:hover {
    background-color: #c82333;
}

#Get{
    background-color: #4caf50;
}

#Get:hover{
    background-color: #43a047;
}

#Save{
    background-color: #00bcd4;
}

#Save:hover{
    background-color: #00acc1;
}

#Send{
    background-color: #007bff;
}

#Send:hover{
    background-color: #0056b3;
}

.exit .button {
    background-color: #dc3545;
}

.exit .button:hover {
    background-color: #c82333;
}

.isHeadVersion{
    padding: 10px 0px;
}
/* админ страница */

.admin-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.Settings {
    width: 70%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.AddUser {
    width: 30%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.settings-and-adduser {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

#Settings, #Show, #AddUser, #GeneralSettings {
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin: 10px 0;
}

#Settings:hover, #Show:hover, #AddUser:hover, #GeneralSettings:hover {
    background-color: #45a049; 
}

#user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%; 
    overflow-x: auto; 
    margin-top: 20px;
}

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    table-layout: auto;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

table th {
    background-color: #4CAF50;
    color: white;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: #333;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #45a049;
}

.pagination button.active {
    background-color: #45a049;
}

.settings-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.settings-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.settings-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.settings-form button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.settings-form button:hover {
    background-color: #45a049;
}

#user-info.user-info.hidden {
    display: none;
}
